
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", sans-serif;
  background-color: #111;
  color: white;
  line-height: 1.6;
}

/* Navigace */
/* .navbar {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1rem 0;
}

.navbar-brand img {
  height: 50px;
}

.navbar-nav .nav-link {
  color: white !important;
  font-weight: bold;
}

.navbar-nav .nav-link.active {
  font-weight: bold;
  color: #3498db !important;
} */

/* Navigace s gradientem */
.navbar {
  background: linear-gradient(to right, rgb(255, 255, 255, 0.6) 20%, black 80%);
  padding: 1rem 0;
}

.navbar-brand img {
  height: 50px;
  filter: brightness(0);
}

.navbar-nav .nav-link {
  color: white !important;
  font-weight: bold;
}

.navbar-nav .nav-link.active {
  font-weight: bold;
  color: #3498db !important;
}

/* Přidání mezery mezi logo a odkazy */
.navbar-collapse {
  margin-left: 20px;
}

/* Hero sekce */
.hero-section {
  height: 100vh;
  background-image: url("images/obr01.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  position: relative;
  overflow: hidden;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.hero-content {
  position: relative;
  z-index: 1;
}

.hero-logo {
  height: 100px;
  margin-bottom: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 15px 20px;
  border-radius: 5px;
}

/* .hero-content h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1rem;
} */
/* Efekt pro text TECTOME, s.r.o. */
.hero-content h1 {
  font-family: "Poppins", sans-serif;

  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1rem;
  background: linear-gradient(45deg, #3498db, #ffffff, #e21e08, #fffefb);
  background-size: 300% 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientText 20s ease infinite;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

@keyframes gradientText {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.motto {
  font-size: 2rem;
  font-style: italic;
}

.intro-text {
  font-size: 1.5rem;
}

/* Sekce O Nás */
.about-section {
  padding: 4rem 0;
  background-color: #222;
}

.about-section h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

/* Sekce Nabízíme */
.services-section {
  padding: 4rem 0;
  background-color: #333;
}

.services-section h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.service-item {
  background-color: #444;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s ease;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.service-item:hover {
  transform: scale(1.05);
}

.service-item h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  flex-grow: 1;
}
.service-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.service-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-top: auto;
}

.certifications-section,
.references-section {
  padding: 4rem 0;
  background-color: #222;
}

.certifications-section h2,
.references-section h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

/* Sekce Kontakt */
.contact-section {
  padding: 4rem 0;
  background-color: #333;
}

.contact-section h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.contact-person {
  text-align: center;
  background-color: #444;
  padding: 1rem;
  border-radius: 10px;
}

.contact-details {
  text-align: center;
  margin-top: 2rem;
}

/* Kontaktní formulář */
.contact-form-section {
  padding: 4rem 0;
  background-color: #444;
}

.contact-form-section h3 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.form-control {
  background-color: #555;
  color: white;
  border: none;
}

.form-control:focus {
  background-color: #666;
  color: white;
}

/* Footer */
.footers {
  background-color: #111;
  padding: 2rem 0;
  text-align: center;
}

.social-iconss a {
  color: white;
  font-size: 1.5rem;
  margin: 0 1rem;
  transition: color 0.3s ease;
}

.social-iconss a:hover {
  color: #3498db;
}

/* Efekty přechodů */
section {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
  scroll-margin-top: 30px;
}

section.visible {
  opacity: 1;
  transform: translateY(0);
}
